// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
header{
	background-color:#f3c11d;
	display: flex;
	justify-content: space-between;
}

.box_wrapper input{
	display: none; 
}

.box_wrapper{
    margin: auto;
}

.box_wrapper label{
	display: block;
    font-weight: bold;
    cursor :pointer;
    margin-top: 10px;
}

.box_wrapper ul{
	height: 0;
    overflow-y: hidden;
}

.box_wrapper input:checked + label + ul {
    height: auto;
    background-color:#e0fdff;
}

.top{
	background-image: url(https://images.microcms-assets.io/assets/03297a0e5b65401a9126d29bcac1d2e0/6f52943cffcf475789d774fae6c52196/%E3%82%B5%E3%83%A0%E3%83%8D%E3%82%A4%E3%83%AB_%E3%82%84%E3%81%A3%E3%81%A4.jpg?w=1024);
	background-size: cover;
	padding-bottom:60% ;
}


.toppage{
	display: flex;
	justify-content: center;
}

.top-logo{
	font-size: 30px;
	color: rgb(226, 12, 69);
	font-weight:bold;
}

